@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

div#root{
  background-image: url("https://files.oyebesmartest.com/uploads/large/11552404991pfu4zwyewvtnbwxoesgfrwwhtak6ncfai7zrjzcrdzt11pdu5hcaiyed2z4pnmipii9vhnewxyj8sc1ocfzku4eu5z4mqt13xuvw.png") !important; 
  height:100vh !important;
  background-repeat: no-repeat !important;
}

.can{
  border:none !important;
  text-align: center !important;
}

.heading1{
  margin-top:180px;
  font-family:"Roboto", "Arial";
  font-style:normal;
  font-weight:bold;
  font-size:42px;
  line-height:49px; 
}
.heading2{
  font-family:"Roboto", "Arial";
  font-style:normal;
  font-weight:bold;
  font-size:42px;
  line-height:49px;
}

.subheading{
  margin-top:30px;
  width:195px;
  height:32px;
  left:230px;
  top:285px;
  font-family:"Roboto", "Arial";
  font-style:normal;
  font-weight:500px;
  font-size:14px;
  line-height:16px;
  color:#000000;
}

a{
  font-weight: bold;
  color:rgb(253, 96, 39) !important;
  text-decoration: none;
}
.img{
  padding-left:350px !important;
}

.input_fields1{
  margin-top:100px;
  background:rgba(243,239,239,0.6) !important;
  backdrop-filter:blur(304px) !important;
  border-color:rgb(230, 230, 230) !important;
  color:#646464 !important;  
  border-radius:12px !important;
}

 .input_fields2{
  background:rgba(243,239,239,0.6) !important;
  backdrop-filter:blur(304px) !important;
  border-color:rgb(230, 230, 230) !important;
  color:#646464 !important;  
  border-radius:12px !important;
} 

.signin-button{
  background:#ffb472 !important;
  box-shadow:1px 2px 54px rgba(255, 209, 169, 0.25) !important;
  border-radius:12px !important;
  color:white !important;
  font-weight:bold !important;
}

.google-container{
  margin-left:50px;
  background-color: white;
  border-color:rgb(235, 231, 231);
  padding:5px 15px ;
  border-radius:10px;
}

.facebook-container{
  margin-left:50px;
  background-color: white;
  border-color:rgb(235, 231, 231);
  padding:5px 15px ;
  border-radius:10px;
}

@media(max-width:2560px){
  .mobile-view2{
    display:none !important;
  }
  .laptop-view{
    position:fixed !important;
    bottom:80px !important;
    left: 15vw !important;
  }
}
 

@media(max-width:1400px){
  .mobile-view2{
    display:none !important;
  }
  .laptop-view{
    position:fixed !important;
    bottom:80px !important;
    left: 15vw !important;
  }
}
 
@media(min-width:1025px) and (max-width:1201px){
  .img{
    padding-left:0px;
  }  
  .google-container{
    margin-left:30px;
  }
  .facebook-container{
    margin-left:30px;
  }  
  .mobile-view2{
    display:none !important;
  }
  
}

@media(min-width:769px) and (max-width:1024px){
  .img{
    padding-left:250px !important;
  } 
  .google-container{
    margin:0 0 0 30px !important;
  }
  .facebook-container{
    margin:0 0 0 0 !important;
  }
  .mobile-view2{
    display:none !important;
  }
  .laptop-view{
    position:fixed !important;
    bottom:80px !important;
    left: 5vw !important;
  }
}


@media(min-width:481px) and (max-width:768px){  
  .heading1{
    font-size:35px;
  }
  .heading2{
    font-size:35px;
  }
  .subheading{
    font-size:12px;
  }
  .col-4{
    padding:0px !important;
  }
  .img{
    padding-left:100px !important;
  } 
  .icons{
    display:flex !important;
    flex-direction: row !important;
    width:30vw !important;
    justify-content: space-evenly !important;
  }
  div.col{    
    padding:0 !important;
  }
  .google-container{    
    margin:0 0 0 5px !important;
  }
  .facebook-container{
    margin:0 0 0 5px !important;
  }
  .mobile-view2{
    display:none !important;
  }
  .laptop-view{
    position:fixed !important;
    bottom:60px !important;
    left: 30vw !important;
  }
}


@media(max-width:480px){  
  .heading1{
    font-size:20px;
    margin-top:30px;
    margin-bottom:0;
  }
  .heading2{
    font-size:20px;
    margin:0;
  }
  .subheading{
    font-size:10px;
    margin-top:20px;
  }
  .col-4{
    padding:0px !important;
  }
  .img{
    padding-left:50px !important;
  } 
  .form-control{
    width:220% !important;
    margin-left:40px !important;
  }
  .can{
    width:220% !important;
    margin-left:40px !important;
  }
  .icons{
    display:flex !important;
    flex-direction: row !important;
    width:90vw !important;
    justify-content: space-evenly !important;
  }
  div.col{ 
    padding:0 !important;
  }
  .google-container{    
    margin:0 5px 0 5px!important;
  }
  .facebook-container{    
    margin:0 5px 0 15px!important;
  }
  .mobile-view{
    display:grid !important;
    padding:0;
  }
  .mobile-view2{
    display: flex !important;
    /* position:fixed !important;
    bottom:60px !important;
    left: 30vw !important; */
  }
  .laptop-view{
    display:none !important;
  }
  div#root{
    background-image: url("https://files.oyebesmartest.com/uploads/large/11552404991pfu4zwyewvtnbwxoesgfrwwhtak6ncfai7zrjzcrdzt11pdu5hcaiyed2z4pnmipii9vhnewxyj8sc1ocfzku4eu5z4mqt13xuvw.png") !important; 
    height:170vh !important;
  }
} 